@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


/*
@font-face{
	font-family: MyriadPro-Regular;
	src: url(font/MyriadPro-Regular.otf);
}
@font-face{
	font-family: MyriadPro-Semibold;
	src: url(font/MyriadPro-Semibold.otf);
}
@font-face{
	font-family: MyriadPro-bold;
	src: url(font/MyriadPro-Bold.otf);
}
*/


/*Kalam for unofficial*/
@font-face{
	font-family: Kalam-Regular;
	src: url(font/Kalam-Regular.ttf);
}
@font-face{
	font-family: Kalam-Bold;
	src: url(font/Kalam-Bold.ttf);
}


body{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
}


/*Type*/
p.instruct{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 36px;
	font-weight: 100;
	line-height: 48px;
}

/*Title*/
h2.uno_title{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	margin:0;
}
h2.un_o_title{
	font-family: Kalam-Bold;
	font-size: 48px;
	line-height: 48px;
	line-height: 64px;
	 margin:0;
}

/*Tab*/
h3.uno_title{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
}
h3.un_o_title{
	font-family: Kalam-Bold;
	font-size: 36px;
	line-height: 48px;
}

/*Category*/
p.un_o_chapter{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
}
h3.un_o_category{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.8px;
}
p.uno_chapter{
	font-family: Kalam-Regular;
	font-size: 18px;
	line-height: 24px;
}
h3.uno_category{
	font-family: Kalam-Bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.8px;
}

/*Sentence*/
h3.un_sentence{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.8px;
}
h3.uno_sentence{
	font-family: Kalam-Regular;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.8px;
}

/*subject*/
p.un_subject{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.8px;
	margin-right: 32px;
}
p.uno_subject{
	font-family: Kalam-Regular;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.8px;
	margin-right: 32px;
}
